* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    position: relative;
}

input {
    background-color: transparent;
    border: none;
}

input:focus {
    outline: none;
}