.main {
    width: 98vw;
    height: 91vh;
    overflow: hidden;
    margin: 12px 12px 0 12px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.cleanButton {
    margin: 0 24px 4px 24px;
}

.generateButton {
    margin: 0 24px 4px 0;
}

.table {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.tableGrid::-webkit-scrollbar-thin {
    background-color: gold;
}